.section-main {
  min-height: 100vh;
  background: linear-gradient(
    to right,
    rgba(#09052f, 0.85) 0%,
    rgba(#311d5e, 0.85) 100%),
    url("../images/main-bg.jpg") no-repeat center center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;

  &__content {
    text-align: center;
    max-width: 770px;
  }
  &__title {
    color: #fff;
    font-weight: 900;
    font-size: 32px;
    letter-spacing: 0.32px;
    &::after {
      display: block;
      content: "";
      width: 50px;
      height: 1px;
      background-color: #00e0d0;
      margin: 20px auto 30px;
    }
  }
  &__text {
    color: #fff;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0.7px;
    margin-bottom: 50px;
  }
}
