.section-story {
  &__inner {
    display: flex;
    align-items: center;
    @media (max-width: 768px) {
      flex-direction: column;
      text-align: center;
    }
  }

  &__image {
    margin: 0 100px 0 65px;
    @media (max-width: 1024px) {
      margin: 0 50px 0 0;
    }
    @media (max-width: 768px) {
      margin: 0 0 25px;
    }
  }

  &__title {
    margin-bottom: 28px;
  }

  &__text {
    color: rgba(#413d4b, 0.75);
    font-weight: 300;
    line-height: 22px;
    letter-spacing: 0.42px;
    margin-bottom: 31px;
  }
}
